{% extends "layout.html" %}

{% block content %}
    <h2>Interns Table</h2>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Age</th>
                <th>Role</th>
            </tr>
        </thead>
        <tbody>
        {% for emp_id, emp_data in emps.items() %}
        {% if(emp_data['position'] == "Intern") %}
            <tr>
                <td>{{emp_id}}</td>
                <td>{{emp_data['name']}}</td>
                <td>{{emp_data['age']}}</td>
                <td>{{emp_data['position']}}</td>
            </tr>
        {% endif %}
        {% endfor %}
        </tbody>
    </table>
{% endblock content %}